configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
 
 font: "Intel One Mono 16";
 show-icons: true;
 icon-size: 24;
 icon-theme: "Yaru-sage-dark";
}

@theme "gruvbox-dark-hard"